@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
:root {
	--mainfont: "Inter", sans-serif;
}

/* HTML: <div class="loader"></div> */
.loader {
	width: 40px;
	height: 40px;
	--c: no-repeat linear-gradient(rgb(9, 111, 208) 0 0);
	background: var(--c), var(--c), var(--c), var(--c);
	background-size: 21px 21px;
	animation: l5 1.5s infinite cubic-bezier(0.3, 1, 0, 1);
}
@keyframes l5 {
	0% {
		background-position:
			0 0,
			100% 0,
			100% 100%,
			0 100%;
	}
	33% {
		background-position:
			0 0,
			100% 0,
			100% 100%,
			0 100%;
		width: 60px;
		height: 60px;
	}
	66% {
		background-position:
			100% 0,
			100% 100%,
			0 100%,
			0 0;
		width: 60px;
		height: 60px;
	}
	100% {
		background-position:
			100% 0,
			100% 100%,
			0 100%,
			0 0;
	}
}
